/*
  white: #FFFFFF
  Accent 1: #737373
  Accent 2: #0D0D0D
*/

h1, h2, h3 {
color: #737373;
    }

 h1 {
text-align: center;
     }
th,td {
    border: #0D0D0D double 4px;
    padding: 12px;
    }

table {
    border-collapse: collapse;
    }
a {
    color: #737373;
    font-weight: bold;
    text-decoration: none;
    }

a:hover {
    color: #0D0D0D;
    }

p.properties {
    background-color: #737373;
    color: #FFFFFF;
    width: auto;
    padding: 10px;
    border: #0D0D0D ridge 10px
        }

div {
    background-color: #737373;
    width: 646px;
    padding: 12px;
    border: #0D0D0D inset 12px;
    margin: 25px
    }

body {
    padding: 25px;
    font-size: 20px
    }
    
    
